html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.viewport {
  overflow-x: auto;
  width: 100%;
  height: 300px;
}

.container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  width: 100%;
  height: 300px;
}

.container-left {
  display: flex;
  width: 30%;
  max-width: 140px;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}
.container-right {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.item {
  background: #DAA520;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  
  display: flex;
  flex-direction: column;
}

.item-header {
  background: moccasin;
  height: 25%;
  font-size: 10px;
  text-align: left;
  color: black;
  display: flex;
  flex-direction: row;
}

.item-header-id {
  font-size: 20px;
}

.item-body {
  background: green;
  height: 50%;
  text-align: left;
}

.item-footer {
  background: blue;
  height: 25%;
}

.details-header {
  height: 20%;
  width: 100%;
  background: red;
  display: flex;
  flex-direction: column;
}

.details-header-identification {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.details-header-id {
  margin-left: 10px;
  font-size: 1.5rem;
}

.details-header-features {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.details-header-status {
    display: flex;
    flex-direction: row;
    height: 50%;
    background-color: green;
}

.details-header-status-item {
    display: flex;
    flex-direction: column;
    width: 50px;
    background-color: aquamarine;
    align-items: center;
}


.details-header-status-value {
    font-size: 0.8rem;
    display: flex;
    align-items:flex-end;
    height: 60%;
}

.details-header-status-metric {
    font-size: 0.4rem;
    height: 40%;
    display: flex;
    align-items: center;
}



.details-body {
    height: 55%;
    width: 100%;
    background: blue;
}

.details-body-acc {
  width: 100%;
}

.details-body-pwr {
  width: 100%;
}

.details-footer {
  height: 25%;
  width: 100%;
  align-items: center;
}