html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.item {
  background: #DAA520;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  
  line-height_: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  
  display: flex;
  flex-direction: column;
}

.item-header {
  background: moccasin;
  height: 25%;
  font-size: 10px;
  text-align: left;
  color: black;
}

.item-body {
  background: green;
  height: 50%;
  text-align: left;
}

.item-footer {
  background: blue;
  height: 25%;
}